@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body{
    background-color: #F5F5F5;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.container__main{
    margin: 0 50px;
}

.container__sweap{
    width: 100%;
}

.container__header{
    background: #E1EEFB;
    max-height: 370px;
}

.container__review{
    background: #EAF4FF;
    max-height: 880px;
    padding-top: 20px;
    padding-bottom: 20px;
}