.cellars{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #99A3A9;
    padding-top: 41px;
    padding-bottom: 49px;
    &_color{
        color: #1061AB;
    }
}