.footer{
    background: #FFFFFF;
    margin-top: 130px;
    padding-bottom: 50px;
    &__navigation{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    padding-top: 35px;    
        &--items{
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            color: #2B7BC6;
        }
        &--list{
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 14px;
            color: #2B7BC6;
            line-height: 40px;
        }
        &--contact{
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            &_number{
                font-weight: 600;
                font-size: 21px;
                line-height: 40px;
            }
            &_btn{
                color: #1061AB;
                font-weight: 600;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.15em;
                border: 1px solid #1061AB;
                border-radius: 4px;
                padding: 6px 13px;
                cursor: pointer;
            }
        }
        &--adress{
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            &_gmail{
            color: #1061AB;
            }
        }
    }
    &__contact{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        &-one{
            display: flex;
            flex-direction: column;
            &-logo{
                &_main{
                    color:  #004C93;
                    font-size: 45px;
                }
                &_name{
                    color: #FBFAF9;
                    background: #EA1649;
                    padding: 5px 5px;
                    width: 100px;
                    height: 30px;
                    font-size: 20px;
                    position: relative;
                    bottom: 8px;
                }
            }
            &-date{
                &_inf{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #99A3A9;
                }
            }
        }
        &-adress{
            display: flex;
            gap: 33px;
            position: absolute;
            left: 680px;
            top: 5px;
            img{
            cursor: pointer;
            height: 20px;
            }
        }
        &-three{
            position: absolute;
            left: 1000px;
            bottom: 5px;
        }

    }
}